<script lang="ts" setup>
import type { FieldsOptionItem, FormOptions } from '@/types';
import useGenerateModel from '@/utils/useGenerateModel';
import { ref } from 'vue';
import { ElForm, ElRow, ElCol, ElFormItem, ElInput, ElInputNumber, ElSelect, ElOption, ElDatePicker, ElCheckbox, ElCheckboxGroup, ElRadioGroup, ElRadio } from 'element-plus';

const props = defineProps<{ formOptions: FormOptions,  formFields: FieldsOptionItem[] }>()
// const injectFormOptions = inject<FormOptions>('formOptions')
// const injectFormFields = inject<FieldsOptionItem[]>('formFields')

// console.debug('---FormController: injectFormOptions: ', injectFormOptions)
// console.debug('---FormController: injectFormFields: ', injectFormFields)

const formOptionsValue = ref<FormOptions>(props.formOptions);
const formFieldsValue = ref<FieldsOptionItem[]>(props.formFields);

// console.debug('---FormController: formOptionsValue: ', formOptionsValue.value)
// console.debug('---FormController: formFieldsValue: ', formFieldsValue.value)


// @ts-ignore
const formModel = useGenerateModel(formFieldsValue.value)
</script>
<template>
  <el-form :model="formModel" v-bind="formOptionsValue">
    <el-row v-for="(fieldGroup, index) in formFieldsValue" :key="`${index}`" v-bind="fieldGroup.row">
      <el-col v-for="field in fieldGroup.groupItems" :key='`${field.type}-${index}`' v-bind="field.col" >
        <el-form-item v-if="field.type === 'ElInput'" v-bind="field.formItem">
          <!-- @ts-ignore -->
          <el-input v-model="formModel[field.formItem.prop]" v-bind="field.input" />
        </el-form-item>
        <el-form-item v-else-if="field.type === 'ElInputNumber'" v-bind="field.formItem">
          <el-input-number v-model="formModel[field.formItem.prop] as number" v-bind="field.input" />
        </el-form-item>
        <el-form-item v-else-if="field.type === 'ElSelect'" v-bind="field.formItem">
          <el-select v-model="formModel[field.formItem.prop]" v-bind="field.input">
            <el-option v-for="option in field.options" :key="option.value as string" v-bind="option"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-else-if="field.type === 'ElDatePicker'" v-bind="field.formItem">
          <el-date-picker v-model="formModel[field.formItem.prop]" v-bind="field.input">
          </el-date-picker>
        </el-form-item>
        <el-form-item v-else-if="field.type === 'ElCheckbox'" v-bind="field.formItem">
          <el-checkbox-group 
            v-model="formModel[field.formItem.prop] as (string | number)[]" v-bind="field.checkboxGroup">
            <el-checkbox v-for="checkbox in field.input" :key="checkbox.label as string" v-bind="checkbox">

            </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item v-else-if="field.type === 'ElRadio'" v-bind="field.formItem">
          <el-radio-group v-for="radio in field.input" :key="radio.label as string" v-model="formModel[field.formItem.prop] as string"
            v-bind="field.radioGroup">
            <el-radio v-bind="radio">{{ radio.text }}</el-radio>
          </el-radio-group>
        </el-form-item>
        <component v-else-if="field.type === 'ElCustomComponent'" :is="field.customComponent"></component>
      </el-col>
    </el-row>
  </el-form>
</template>
<style>
@import '@/styles/index.css';
.el-select {
  width: 100%;
}

:deep(.el-date-editor) {
  --el-date-editor-daterange-width: 100%;
}
</style>