<template>
<!-- <slot>{{ formModel }}</slot> -->
<el-card>
    <form-controller :formOptions="{}" :formFields="formFields">
    </form-controller>
</el-card>
</template>
<script lang="ts" setup>
import { reactive,} from 'vue';
import { formData } from './assets/form';
import useGenerateModel from './utils/useGenerateModel';
import { ElCard } from 'element-plus';
// const formModel =  useGenerateModel(formData) //reactive({ "name": "", "lastName": "", "email": "", "address": "", "phone": "", "country": "", some: "", age: "", animal: "", radio: "", checkbox: [] })
const formFields = reactive(formData)
</script>
<style>
</style>